@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700;800;900&display=swap');

@layer base {
  :root {
    --bg-primary: rgb(17, 23, 49);
    --bg-secondary: rgb(32, 23, 54);
    --bg-third: #232842;
    --bg-glass-primary: rgba(17, 23, 49, .8);
    --bg-glass-secondary: rgba(32, 23, 54, .8);
    --text-blue: rgb(134, 229, 255);
    --text-pink: rgb(244, 114, 182);
    --text-primary: #f3f4f6;
    --text-secondary: #a1a4b8;
    /* #282f4e */
    /* #232842 */
  }

  * { @apply font-jakartaSans}

  html {
    @apply bg-gradient-to-tr from-bg-primary to-bg-secondary min-h-screen text-text-secondary scroll-smooth
  }

  body {
    @apply overflow-x-hidden text-sm font-normal
  }
}

@layer utilities {
  .custom-container {
    @apply px-4 sm:px-12 lg:px-32
  }

  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}